{% if settings.announcement-visible == true %}
  <div class="announcement announcement--hidden">
    <div class="announcement__message">
      {{ settings.announcement-text }}
    </div>
    <div class="announcement__close" taborder="0" role="button">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.353553" y1="0.646447" x2="13.3536" y2="13.6464" stroke="#F6F4EA"></line>
        <line y1="-0.5" x2="18.3848" y2="-0.5" transform="matrix(-0.707107 0.707107 0.707107 0.707107 14 1)" stroke="#F6F4EA"></line>
      </svg>
    </div>
  </div>
{% endif %}