<h2 class="block-about-title foreground--{{ block.settings.color }}">
  {{ block.settings.title }}

  <svg width="31" height="44" viewBox="0 0 31 44" fill="none" xmlns="http://www.w3.org/2000/svg">
    <line x1="14.9238" y1="43.4287" x2="14.9238" y2="-9.15647e-05" stroke="#5BA55C" stroke-width="2"/>
    <path d="M15.2001 0.000116291C15.2001 8.39489 8.39477 15.2002 0 15.2002" stroke="#5BA55C" stroke-width="2"/>
    <path d="M30.4003 15.2001C22.0055 15.2001 15.2002 8.39477 15.2002 0" stroke="#5BA55C" stroke-width="2"/>
  </svg>
</h2>