<div class="block-centered-text block-centered-text--{{ block.settings.layout }}">
  <div class="block-centered-text__title">{{ block.settings.title }}</div>
  <div class="block-centered-text__body">{{ block.settings.body }}</div>
</div>