.content-feature {
  padding: 50px 0;
  background-color: $color-pink;
  color: $color-cream;
  margin-bottom: 100px;

  // Modifiers

  &--layout-compact {
    .content-feature__image img {
      max-height: 350px;
      object-fit: cover;
    }
  }

  &--direction-reverse {
    .content-feature__container {
      flex-direction: row-reverse;
    }
  }

  @include m {
    padding: 30px 0;
    margin-bottom: 60px;
  }
}

.content-feature__container {
  @include container;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;

  @include m {
    display: block;
    padding: 0 30px;
  }
}

.content-feature__image {
  width: calc(50% - 20px);
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  @include m {
    width: 100%;
    margin-bottom: 60px;
  }
}

.content-feature___author {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  color: $color-cream;
}

.content-feature__content {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include m {
    width: 100%
  }
}

.content-feature__content__title {
  @include title-medium;
  margin-bottom: 40px;

  @include m {
    margin-bottom: 20px;
  }
}

.content-feature__content__body {
  margin-bottom: 30px;
  padding-right: 12%;

  @include m {
    padding-right: 0;
  }
}

