.homepage-header {
  height: 100vh;
  position: relative;
  top: -260px;
  margin-bottom: -260px;
  color: $color-cream;
  min-height: 800px;

  @include m {
    min-height: 100vh;
  }
}

.homepage-header__background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  img {
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}

.homepage-header__title {
  @include title-large;
  position: absolute;
  top: 57%;
  width: 100%;
  max-width: 750px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
  a {
    display: inline-block;
    padding: 40px;
  }

  * {
    cursor: url("data:image/svg+xml,%3Csvg width='121' height='13' viewBox='0 0 121 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.39535 9.3589C9.07695 10.368 8.53036 11.1447 7.75558 11.689C6.99142 12.2332 6.08928 12.5054 5.04917 12.5054C4.0409 12.5054 3.16529 12.2729 2.42236 11.808C1.67942 11.3432 1.10629 10.6742 0.702986 9.80111C0.299677 8.92803 0.0980225 7.90189 0.0980225 6.72268C0.0980225 5.54347 0.299677 4.51733 0.702986 3.64425C1.10629 2.77118 1.67942 2.10221 2.42236 1.63733C3.16529 1.17244 4.03559 0.940002 5.03325 0.940002C6.08398 0.940002 6.96489 1.17244 7.67598 1.63733C8.3977 2.10221 8.91775 2.78819 9.23615 3.69528L7.62822 4.46063C7.41596 3.79166 7.10817 3.3041 6.70486 2.99796C6.30155 2.68047 5.77619 2.52173 5.12877 2.52173C4.14172 2.52173 3.35103 2.89591 2.75668 3.64425C2.17294 4.38126 1.88107 5.4074 1.88107 6.72268C1.88107 8.04929 2.16233 9.08111 2.72484 9.81811C3.28735 10.5551 4.06743 10.9236 5.06509 10.9236C5.74435 10.9236 6.31216 10.7422 6.76854 10.3794C7.23553 10.0165 7.56985 9.48363 7.7715 8.78063L9.39535 9.3589Z' fill='%23F6F4EA'/%3E%3Cpath d='M19.0683 10.7706V12.3353H11.5699V1.11008H13.2734V10.7706H19.0683Z' fill='%23F6F4EA'/%3E%3Cpath d='M22.8037 12.3353H21.1002V1.11008H22.8037V12.3353Z' fill='%23F6F4EA'/%3E%3Cpath d='M34.6281 9.3589C34.3097 10.368 33.7631 11.1447 32.9883 11.689C32.2241 12.2332 31.322 12.5054 30.2819 12.5054C29.2736 12.5054 28.398 12.2729 27.6551 11.808C26.9121 11.3432 26.339 10.6742 25.9357 9.80111C25.5324 8.92803 25.3307 7.90189 25.3307 6.72268C25.3307 5.54347 25.5324 4.51733 25.9357 3.64425C26.339 2.77118 26.9121 2.10221 27.6551 1.63733C28.398 1.17244 29.2683 0.940002 30.266 0.940002C31.3167 0.940002 32.1976 1.17244 32.9087 1.63733C33.6304 2.10221 34.1505 2.78819 34.4689 3.69528L32.8609 4.46063C32.6487 3.79166 32.3409 3.3041 31.9376 2.99796C31.5343 2.68047 31.0089 2.52173 30.3615 2.52173C29.3744 2.52173 28.5837 2.89591 27.9894 3.64425C27.4057 4.38126 27.1138 5.4074 27.1138 6.72268C27.1138 8.04929 27.395 9.08111 27.9576 9.81811C28.5201 10.5551 29.3001 10.9236 30.2978 10.9236C30.9771 10.9236 31.5449 10.7422 32.0013 10.3794C32.4682 10.0165 32.8026 9.48363 33.0042 8.78063L34.6281 9.3589Z' fill='%23F6F4EA'/%3E%3Cpath d='M40.2096 6.92677L38.5061 8.88268V12.3353H36.8027V1.11008H38.5061V6.68866L43.3299 1.11008H45.4154L41.4354 5.70221L45.5109 12.3353H43.505L40.2096 6.92677Z' fill='%23F6F4EA'/%3E%3Cpath d='M59.8554 2.67481H56.2575V12.3353H54.554V2.67481H50.9561V1.11008H59.8554V2.67481Z' fill='%23F6F4EA'/%3E%3Cpath d='M65.8844 0.940002C66.8927 0.940002 67.7683 1.17244 68.5112 1.63733C69.2648 2.10221 69.8432 2.77118 70.2465 3.64425C70.6498 4.51733 70.8515 5.54347 70.8515 6.72268C70.8515 7.90189 70.6498 8.92803 70.2465 9.80111C69.8432 10.6742 69.2648 11.3432 68.5112 11.808C67.7683 12.2729 66.8927 12.5054 65.8844 12.5054C64.8761 12.5054 64.0005 12.2729 63.2576 11.808C62.5147 11.3432 61.9415 10.6742 61.5382 9.80111C61.1349 8.92803 60.9333 7.90189 60.9333 6.72268C60.9333 5.54347 61.1349 4.51733 61.5382 3.64425C61.9415 2.77118 62.5147 2.10221 63.2576 1.63733C64.0005 1.17244 64.8761 0.940002 65.8844 0.940002ZM65.8844 2.52173C64.8974 2.52173 64.1226 2.89024 63.5601 3.62725C62.9976 4.36425 62.7163 5.39607 62.7163 6.72268C62.7163 8.04929 62.9976 9.08111 63.5601 9.81811C64.1226 10.5551 64.8974 10.9236 65.8844 10.9236C66.8821 10.9236 67.6622 10.5551 68.2247 9.81811C68.7872 9.08111 69.0684 8.04929 69.0684 6.72268C69.0684 5.39607 68.7872 4.36425 68.2247 3.62725C67.6622 2.89024 66.8821 2.52173 65.8844 2.52173Z' fill='%23F6F4EA'/%3E%3Cpath d='M82.1438 0.940002C83.1096 0.940002 83.9322 1.12709 84.6114 1.50126C85.3013 1.87544 85.8797 2.44803 86.3467 3.21906L85.0572 4.46063C84.76 3.78032 84.3885 3.28709 83.9428 2.98095C83.497 2.67481 82.9027 2.52173 82.1597 2.52173C81.4274 2.52173 80.8596 2.68047 80.4563 2.99796C80.053 3.3041 79.8513 3.70095 79.8513 4.18851C79.8513 4.64205 80.0477 5.00488 80.4404 5.27701C80.8331 5.5378 81.5335 5.76457 82.5418 5.95732C83.4864 6.13874 84.2346 6.37118 84.7865 6.65465C85.3491 6.92677 85.7577 7.2726 86.0124 7.69213C86.2671 8.10032 86.3945 8.61055 86.3945 9.22284C86.3945 9.88048 86.2193 10.4587 85.8691 10.9576C85.5189 11.4565 85.0253 11.8421 84.3885 12.1142C83.7623 12.375 83.0353 12.5054 82.2075 12.5054C80.0742 12.5054 78.5671 11.7457 77.6862 10.2263L78.8802 8.95071C79.2198 9.63103 79.655 10.1299 80.1856 10.4474C80.7269 10.7649 81.3956 10.9236 82.1916 10.9236C82.9451 10.9236 83.5342 10.7876 83.9587 10.5154C84.3938 10.232 84.6114 9.83512 84.6114 9.32489C84.6114 8.9167 84.4151 8.58788 84.0224 8.33843C83.6403 8.08898 82.9663 7.86788 82.0005 7.67512C81.0347 7.48237 80.2652 7.24425 79.6921 6.96079C79.119 6.67733 78.6998 6.32583 78.4344 5.9063C78.1797 5.48677 78.0523 4.97654 78.0523 4.37559C78.0523 3.74063 78.2169 3.16236 78.5459 2.64079C78.8749 2.11921 79.3472 1.70536 79.9628 1.39922C80.5889 1.09307 81.316 0.940002 82.1438 0.940002Z' fill='%23F6F4EA'/%3E%3Cpath d='M97.3889 1.11008V12.3353H95.6695V7.43701H90.4796V12.3353H88.7761V1.11008H90.4796V5.87229H95.6695V1.11008H97.3889Z' fill='%23F6F4EA'/%3E%3Cpath d='M104.861 0.940002C105.869 0.940002 106.745 1.17244 107.487 1.63733C108.241 2.10221 108.819 2.77118 109.223 3.64425C109.626 4.51733 109.828 5.54347 109.828 6.72268C109.828 7.90189 109.626 8.92803 109.223 9.80111C108.819 10.6742 108.241 11.3432 107.487 11.808C106.745 12.2729 105.869 12.5054 104.861 12.5054C103.852 12.5054 102.977 12.2729 102.234 11.808C101.491 11.3432 100.918 10.6742 100.514 9.80111C100.111 8.92803 99.9095 7.90189 99.9095 6.72268C99.9095 5.54347 100.111 4.51733 100.514 3.64425C100.918 2.77118 101.491 2.10221 102.234 1.63733C102.977 1.17244 103.852 0.940002 104.861 0.940002ZM104.861 2.52173C103.874 2.52173 103.099 2.89024 102.536 3.62725C101.974 4.36425 101.693 5.39607 101.693 6.72268C101.693 8.04929 101.974 9.08111 102.536 9.81811C103.099 10.5551 103.874 10.9236 104.861 10.9236C105.858 10.9236 106.638 10.5551 107.201 9.81811C107.763 9.08111 108.045 8.04929 108.045 6.72268C108.045 5.39607 107.763 4.36425 107.201 3.62725C106.638 2.89024 105.858 2.52173 104.861 2.52173Z' fill='%23F6F4EA'/%3E%3Cpath d='M116.405 1.11008C117.54 1.11008 118.437 1.42189 119.095 2.04551C119.764 2.66914 120.098 3.5252 120.098 4.6137C120.098 5.70221 119.764 6.55827 119.095 7.18189C118.437 7.79418 117.54 8.10032 116.405 8.10032H114.064V12.3353H112.361V1.11008H116.405ZM116.134 6.5526C116.877 6.5526 117.429 6.39386 117.79 6.07638C118.15 5.74756 118.331 5.26 118.331 4.6137C118.331 3.30977 117.599 2.6578 116.134 2.6578H114.064V6.5526H116.134Z' fill='%23F6F4EA'/%3E%3C/svg%3E%0A"), auto;
  }
}

.homepage-header__title__hover {
 @include body;
 text-transform: uppercase; 
 position: absolute;
 left: 0;
 top: 0;
 opacity: 0;
 transform: translateY(6px);
 transition: all 200ms;
 display: none;

 .homepage-header__title:hover & {
  opacity: 1;
  transform: translateY(0);
 }
}

.homepage-header__cta {
  position: absolute;
  display: block;
  bottom: 60px;
  left: 50px; 

  @include m {
    top: 50%;
    left: 50%; 
    transform: translate(-50%, 15vh);
  }
}

.homepage-header__cricket {
  position: absolute;
  bottom: 36px;
  right: 50px;
  height: 91px;
  width: 91px;
  border-radius: 50%;
  background: $color-cream;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  z-index: 100;
  align-items: center;
  transition: background-color 200ms;

  &:hover .spin {
    animation-duration: 1200ms;
  }

  @include m {
    bottom: 30px;
    left: 50%; 
    transform: translate(-50%, 0);
  }
}