{% for block in section.blocks %}
  {% include block.type %}
{% endfor %}

{% schema %}
{
  "name": "Content Blocks",
  "blocks": [
    {
      "type": "block-image-with-link",
      "name": "Image With Link",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    },
    {
      "type": "jump-destination",
      "name": "Jump Destination",
      "settings": [
        {
          "type": "text",
          "id": "jump-id",
          "label": "Jump Destination ID"
        }
      ]
    },
    {
      "type": "block-side-by-side",
      "name": "Side By Side",
      "settings": [
        {
          "id": "left-title",
          "type": "text",
          "label": "Left - Title",
          "default": "I'm the title"
        },
        {
          "type": "richtext",
          "id": "left-content",
          "label": "Left - Content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in neque quis sem pretium placerat.</p>"
        },
        {
          "type": "text",
          "id": "left-cta",
          "label": "Left - CTA",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "left-link",
          "label": "Left - Link"
        },
        {
          "id": "right-title",
          "type": "text",
          "label": "Right - Title",
          "default": "I'm the title"
        },
        {
          "type": "richtext",
          "id": "right-content",
          "label": "Right - Content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in neque quis sem pretium placerat.</p>"
        },
        {
          "type": "text",
          "id": "right-cta",
          "label": "Right - CTA",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "right-link",
          "label": "Right - Link"
        }
      ]
    },
    {
      "type": "block-quote",
      "name": "Quote",
      "settings": [
        {
          "type": "richtext",
          "id": "quote",
          "label": "Quote",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
        },
        {
          "type": "text",
          "id": "credit",
          "label": "Credit",
          "default": "The name goes here"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "block-centered-text",
      "name": "Centered Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "This is the title"
        },
        {
          "type": "richtext",
          "id": "body",
          "label": "Body",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis, dui sed sagittis fringilla, orci elit faucibus eros, ut molestie diam orci quis odio.</p>"
        }
      ]
    },
    {
      "type": "block-image-with-text",
      "name": "Image With Text",
      "settings": [
        {
          "type": "richtext",
          "id": "body",
          "label": "Body",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed venenatis, dui sed sagittis fringilla, orci elit faucibus eros, ut molestie diam orci quis odio.</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "reverse",
              "label": "Reverse"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "Image Size",
          "options": [
            {
              "value": "normal-image",
              "label": "Normal Image"
            },
            {
              "value": "logo-image",
              "label": "Logo Image"
            }
          ],
          "default": "normal-image"
        }
      ]
    },
    {
      "type": "block-large-image",
      "name": "Large Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "block-table",
      "name": "Table",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "This is the title"
        },
        {
          "type": "text",
          "id": "head",
          "label": "Head"
        },
        {
          "type": "textarea",
          "id": "body",
          "label": "Body"
        },
        {
          "type": "select",
          "id": "color",
          "label": "Accent Color",
          "options": [
            {
              "value": "green",
              "label": "Green"
            },
            {
              "value": "yellow",
              "label": "Yellow"
            },
            {
              "value": "orange",
              "label": "Orange"
            },
            {
              "value": "blue",
              "label": "Blue"
            },
            {
              "value": "pink",
              "label": "Pink"
            },
            {
              "value": "brown",
              "label": "Brown"
            }
          ],
          "default": "green"
        }
      ]
    },
    {
      "type": "block-featured-content",
      "name": "Featured Content",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "I'm the title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in neque quis sem pretium placerat.</p>"
        },
        {
          "type": "text",
          "id": "cta",
          "label": "CTA",
          "default": "Learn more"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        },
        {
          "type": "url",
          "id": "link",
          "label": "CTA - Target"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "direction",
          "label": "Direction",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "reverse",
              "label": "Reverse"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "compact",
              "label": "Compact"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "background",
          "label": "Background Color",
          "options": [
            {
              "value": "green",
              "label": "Green"
            },
            {
              "value": "yellow",
              "label": "Yellow"
            },
            {
              "value": "orange",
              "label": "Orange"
            },
            {
              "value": "blue",
              "label": "Blue"
            },
            {
              "value": "pink",
              "label": "Pink"
            },
            {
              "value": "brown",
              "label": "Brown"
            },
            {
              "value": "tan",
              "label": "Tan"
            }
          ],
          "default": "pink"
        }
      ]
    }
  ]
}
{% endschema %}