<section class="product-grid product-grid--items-{{ section.settings.items-per-row }}">
  <h2 class="product-grid__title">{{ section.settings.title }}</h2>
  <div class="product-grid__tiles">
    {%- assign tileClass = 'tile__product' -%}
    {% for block in section.blocks %}
      {% include 'tile', product: tile_product, tileClass %}
    	{{ tile_product.id }}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "blocks": [
    {
      "type": "block",
      "name": "Tile",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Title",
          "default": "I'm the title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in neque quis sem pretium placerat.</p>"
        },
		{
          "id": "tile_product",
          "type": "product",
          "label": "Tile Product"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "id": "add_to_cart",
          "type": "text",
          "label": "Add to Cart text",
		  "default": "add to cart"
        },
		{
          "id": "find_out_more",
          "type": "text",
          "label": "Find out more text",
		  "default": "Find out more"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "sticker",
          "label": "Sticker"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "This is the main title!"
    },
    {
      "type": "select",
      "id": "items-per-row",
      "label": "Items per row",
      "options": [
        {
          "value": "2",
          "label": "2 Items"
        },
        {
          "value": "3",
          "label": "3 Items"
        }
      ],
      "default": "3"
    }
  ],
  "presets": [
    {
      "name": "Product Grid",
      "category": "Homepage Sections"
    }
  ]
}
{% endschema %}
