<div class="subnavigation flex-box justify-center align-center flex-wrap">
  {% for block in section.blocks %}
    <a href="{{ block.settings.link }}">{{ block.settings.title }}</a>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Subnavigation",
  "blocks": [
    {
      "type": "block",
      "name": "Link",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Label",
          "default": "Label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
