.marg-top-xs {
  margin-top: 8px;
}
.marg-bottom-xs {
  margin-bottom: 8px;
}
.quick-addToCart {
  background-color: #de9aa0;
  padding: 12px 30px 10px;
  border: none;
  border-radius: 30px;
  color: #f6f4ea;
  font-family: Agrandir,sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin: 16px auto;
  cursor: pointer;
}
.tile-product-link {
  width: fit-content;
  width: -moz-fit-content;
  padding: 12px;
  font-family: Agrandir,sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 16px;
  margin: 0 auto;
}

@media (min-width: 1078px) and (max-width: 1140px) {
  .quick-addToCart {
  	font-size: 22px;
  }
}
@media (min-width: 993px) and (max-width: 1079px) {
  .quick-addToCart {
  	font-size: 18px;
  }
}