.no-disp {
  display: none !important;
}
.marg-top-xs {
  margin-top: 8px;
}
.marg-bottom-xs {
  margin-bottom: 8px;
}
.quick-addToCart {
  width: 100%;
  max-width: 250px;
  background-color: #de9aa0;
  padding: 12px 30px 10px;
  border: none;
  border-radius: 30px;
  color: #f6f4ea;
  font-family: Agrandir,sans-serif;
  font-weight: 800;
  font-size: 24px;
  margin: 16px auto;
  cursor: pointer;
}
.tile-product-link {
  width: fit-content;
  width: -moz-fit-content;
  padding: 12px;
  font-family: Agrandir,sans-serif;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 16px;
  margin: 0 auto;
}

.cart-subtotal {
  display: flex;
  justify-content: space-between;
  font-family: Agrandir,sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  font-size: 16px;
  text-transform: uppercase;
}
.checkout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #de9aa0;
  padding: 12px 30px 10px;
  border: none;
  border-radius: 30px;
  color: #f6f4ea;
  font-family: Agrandir,sans-serif;
  font-weight: 800;
  font-size: 20px;
  margin: 16px auto;
  cursor: pointer;
}
.checkout-btn svg {
  margin-right: 8px;
}
.upsell-product {
  border-top: 2px solid #fff;
}
.upsell-heading {
  font-family: Agrandir,sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.upsell-addToCart {
  width: fit-content;
  width: -moz-fit-content;
  background-color: #de9aa0;
  padding: 12px 16px;
  border: none;
  border-radius: 30px;
  color: #f6f4ea;
  font-family: Agrandir,sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin: 8px auto 0;
  cursor: pointer;
}

@media (min-width: 1078px) and (max-width: 1140px) {
  .quick-addToCart {
  	font-size: 22px;
  }
}
@media (min-width: 993px) and (max-width: 1079px) {
  .quick-addToCart {
  	font-size: 18px;
  }
  .tile-product-link {
  	font-size: 16px;
  }
}