@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.spin {
  transform-origin: center center;
  animation-name: spin;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin-reverse {
  from {
      transform:rotate(360deg);
  }
  to {
      transform:rotate(0deg);
  }
}

.spin-reverse {
  transform-origin: center center;
  animation-name: spin-reverse;
  animation-duration: 8000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}