<h1 class="article__title">{{ article.title }}</h1>
<div class="article__hero">
  <img src="{{ article.image | img_url: "1920x" }}">
</div>
<div class="article__content">
  {{ article.content }}
</div>